	<div id="footer" style="position:absolute;
   bottom:0px;
   width:100%;
							padding:0px;
							color:white;
   height:16px;   /* Height of the footer */
   
   background-color:#3b5998">
<p class="text-center text-muted"style="color:white">© Copyright 2015 Facebook.</p>
</div>