<nav class="navbar navbar-default">
  <div class="container-fluid" style="background-color:#3b5998; padding: 2px; color:white;border:0px">
    <div class="navbar-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" style="color:white" >Facebook</a>
    </div>
    <div style="float:right">
      <ul class="nav navbar-nav">
        <li style="color:white"><a href="/homepage" style="color:white; border-right:20px">Home</a></li>
      
        <li><a href="/logout" style="color:white; float:right;">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>